{% extends "partials/base.twig" %}
{% set title = "Installation" %}
{# {% set page_script = "/assets/js/dashboard.js" %} #}

{% block content %}
<div class="row">
    <h1>Installation</h1>

    {# TODO:  #}

    <p class="flow-text">{{authKey}}</p>
</div>

{% endblock %}
